<div class="container">
  <div class="top">
    <video autoplay muted loop id="myVideo">
      <source src="/assets/eq_stage_video.mp4" type="video/mp4">
    </video>

  
    <h2>contact</h2>

    <button class="downBtn" (click)="scroll(target)" mat-icon-button aria-label="Example icon button with a menu icon">
      <mat-icon>arrow_downward</mat-icon>
    </button>

  </div>
  

  <div #target class="content">
    <p>
      antoni was founded in 2015 exclusively for Mercedes-Benz.<br>
      In 2018 antoni_jellyhouse started as our next tailor-made agency, 
      for the confectionary brand Katjes. We opened antoni_boost for Kärcher in 2019, 
      followed by antoni_giga for Vodafone and antoni_heaven for the mattress online retailer bett1.de in 2020. 
      To push the boundaries of the agency model antoni invested in the sport data startup ID league.<br>
      The core idea of each antoni venture is focus. Because we believe that concentrating on one client leads to real transformation.
      <br><br>
      Want to know more? We look forward to hearing from you.
    </p>

    <img class="image1" src="/assets/intro_image5.webp">
  </div>

  <div class="cont-info">
    <div class="jpeg">
      <img class="image2" src="/assets/contact-image.jpg">

      <h1>hello</h1>
    </div>
    
    <div class="details">
      <p>
        my name is <b>Mmashabane Mogoboya</b><br>
        and I am currently watching<br>
        a series called <b>The Blacklist</b>
      </p>

      <ul>
        <li>
          you can reach me on
        </li>
        <li>
          <a href="tel:+27617362098"><b>Tel:</b> +27 61 7362098</a>
        </li>
        <li>
          <a href="mailto:mmashabaner@gmail.com"><b>Email:</b> mmashabaner@gmail.com</a>
        </li>
        <br>
        <li class="media">
          share: 
          <a href="www.facebook.com">
            <img width="25px" src="/assets/logo-facebook.svg">
          </a>
          <a href="www.twitter.com">
            <img width="25px" src="/assets/logo-twitter.svg">
          </a>
          <a href="www.google.com">
            <img width="25px" src="/assets/logo-google.svg">
          </a>
        </li>
      </ul>

    </div>
    
  </div>

</div>